.stretch-width {
    width: 100%;
}

.caps {
    text-transform: capitalize;
}

.editable {
    cursor: text;
}

.warning {
    color: #BB0000;
    text-decoration: line-through;
}

.editable-text label {
    font-weight: bold;
}

.editable-text label small {
    font-weight: lighter;
}

#pet-status {
    text-transform: capitalize;
    font-weight: bolder;
    color: #369;
    width: auto;
}

#pet-status-label {
    margin-left: 10px;
}

.edit-button {
    font-size: 0.75em;
    text-transform: uppercase;
}

.edit-button:hover {
    font-weight: bolder;
}
