@import "elements";
@import "colors";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);

.subnav {
  background: #cccccc;
  border-bottom: 1px solid #999;
}
.stretch-height {
  height: 100%;
}

.stretch {
  width: 100%;
  height: 100%;
}

.panel.panel-3d {
  .drop-shadow();
}

/** Angular Form Validation **/

input.ng-invalid.ng-dirty {
  border-color: darken(@bsRed,15%);
  color: @bsRed;
}

input.ng-valid.ng-dirty {
  border-color: darken(@bsGreen,15%);
}

.wizard-help {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 10px;
  font-weight: 400;

  .opacity(0.9);
  .rounded(3px);
  .bordered();
}



