@import "elements";
@import "colors";

@vsBlue:   #3bafd6;
@vsGreen:  #6dad6f;
@vsOrange: #f47920;
@vsYellow: #fff684;

.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}


.form-signin {
  .drop-shadow( 2px, 15px, 100px, 0.35 );
}

body.simple {
  background: @vsBlue;
}

.subnav {
  background: #cccccc;
  border-bottom: 1px solid #999;
}

.stretch-width {
  width: 100%;
}

.stretch-height {
  height: 100%;
}

.stretch {
  width: 100%;
  height: 100%;
}




