@import "elements";
@import "colors";





.subnav {
  background: #cccccc;
  border-bottom: 1px solid #999;
}
.stretch-height {
  height: 100%;
}

.stretch {
  width: 100%;
  height: 100%;
}

/** Angular Form Validation **/

input.ng-invalid.ng-dirty {
  border-color: darken(@bsRed,15%);
  color: @bsRed;
}

input.ng-valid.ng-dirty {
  border-color: darken(@bsGreen,15%);
}




